
:root {
  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-color: #009440;
  --theme-color-light: #8fc42c;
  --theme-color-secondary: #02a94a;
  --theme-color-pink: #e50e63;
  --theme-color-blue: #00abc0;
  --theme-color-orange: #f15d2a;
  --theme-color-silver: #c2c7c7;
  --theme-color-dark-blue: #2f5b9d;
  --theme-color-blue-light: #38bff1;
  --theme-color-green-light: #1ed760;
  --theme-color-pink-dark: #773282;
}